@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

@import "./reset.scss";
@import "./variables.scss";
@import "./header.scss";
@import "./footer.scss";

// general
html, body {
	font-family: "Montserrat", serif;
	font-weight: 500;
	font-size: 16px;
	color: $white;
	background-color: $black;
}

::selection {
	background-color: $main;
	color: $white;
}

em {
	font-style: normal;
	color: $main;
}

section {
	padding: 40px 0;
}

// container
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

// title
.title-1 {
	margin-bottom: calc(var(--index) * 2.3);
	font-size: 20px;
	font-weight: 700;
	text-align: center;
}

// btn
.btn {
	display: inline-flex;
	margin-top: calc(var(--index) * 1);
	--button-color: $main;
	padding: 15px 40px;
	background-color: transparent;
	font-size: 14px;
	border: 1px solid $white;
	border-radius: 25px;
	color: $white;
	cursor: pointer;
	transition: border .4s;

	&:hover {
		border: 1px solid $main;
	}
}

// swiper
.slider {
	height: 100vh;
	box-shadow: inset 0 50px 50px #000, inset 0 -50px 50px #000;
}

.slider .slide {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slide__image {
	width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.slide__overlay {
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.slide__content {
	text-align: center;
	transition: opacity .25s ease;
  // padding: 20px;
  color: $white;
  text-shadow: 1px 1px 55px rgba(0, 0, 0, 5);
  position: absolute;
  top: 50%;
  left: 50%;
 	transform: translate(-50%, -50%);
  z-index: 2;
}

.slide__content h2 {
	font-size: calc(var(--index) * 2);
	text-transform: uppercase;
	letter-spacing: calc(var(--index) * .7);
	margin-bottom: calc(var(--index) * 2.3);
	position: relative;
	line-height: 1.5;
}

.slide__content h2::after {
	content: '';
	height: 1px;
	width: 20%;
	background-color: $main;
	position: absolute;
	left: 40%;
	bottom: calc(var(--index) * -1);
}

.slide__content p {
	font-size: calc(var(--index) * .9);
	text-transform: uppercase;
	color: rgba(255 255 255 / .8);
	letter-spacing: calc(var(--index) * .24);
	line-height: 1.5;
}

.slide__content p:not(:first-child) {
	margin-bottom: 20px;
}

.slider-navigation {
	--swiper-navigation-size: 30px;
}

// card
.card {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	max-width: 1250px;
	gap: 20px;

	.card-list {
		color: $white;
		border-radius: 15px;
		overflow: hidden;
		transition: border .5s ease;

		.card__img-container {
			position: relative;
		
			.card__img {
				width: 100%;
				border-radius: 15px;
				object-fit: cover;
				display: block;
			}

			.card__title {
				position: absolute;
				bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
				padding: 20px;
				background-color: rgba(0, 0, 0, 0.7);
				border-radius: 15px;
				font-size: 14px;
				font-weight: 700;
				color: $white;
				width: calc(100% - 20px);
				line-height: 1.3;
			}
		}
	}
}

.hidden {
  display: none;
}

// mobileGames
.mobileGames {
	& .title-1 {
		margin-bottom: calc(var(--index) * 1.25);
	}

	.search-container {
		display: flex;
		justify-content: center;
		margin-bottom: calc(var(--index) * 2);

		& input {
			width: 30%;
			padding: 16px 20px;
			background-color: transparent;
			border: 1px solid #585858;
			border-radius: 25px;
			font-size: 14px;
			font-weight: 700;
			color: $white;
			transition: all .4s;

			&:focus {
				border: 1px solid $main;
			}

			&:hover {
				border: 1px solid #959595;
			}
		}

		& button {
			margin-left: 15px;
			padding: 15px 40px;
			background-color: transparent;
			border: 1px solid #585858;
			border-radius: 25px;
			font-size: 14px;
			font-weight: 700;
			color: $white;
			transition: all .4s;

			&:hover {
				border: 1px solid #959595;
			}
		}
	}

	.mobile__wrapper {
		padding: 30px;
		background-color: #171718;
		border-radius: 15px;

		.btn-container {
			margin-top: 10px;
			text-align: center;
		}
	}
}