$white: #fff;
$black: #000000;
$main: #42A5F5;

:root {
	--index: calc(1vw + 1vh);
	--swiper-theme-color: $white;
	--swiper-navigation-color: $white;
  // --swiper-navigation-size: 30px;
  --swiper-navigation-sides-offset: 40px;
  --swiper-pagination-bottom: 20px;
  --swiper-pagination-color: #afb3c0;
  --swiper-pagination-bullet-inactive-color: #36373c;
  --swiper-pagination-bullet-inactive-opacity: 1;
}